/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #33393f;
  --bermuda: #71D9AA;
  --mulled: #4B4069;
  --card-background: linear-gradient(rgb(117, 203, 177), rgb(101, 159, 154), rgb(84, 117, 131), rgb(66, 78, 108), rgb(45, 40, 86));

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--mulled);
  background-color: var(--outer-space);
}

.title {
  color: var(--bermuda);
}

html {
  font-size: 62.5%;
}

/* Parent Grid, margins are negative to offset padding on .card-column class */

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}


.card-header {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  color: var(--outer-space)
}

.code-card {
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--mulled);
/* Outline acts as the border */
  outline: 2px dashed var(--bermuda);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--mulled), 0 0 15px var(--mulled);
}
